@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 240, 240, 240;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 240, 240, 240;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 240, 240, 240;
    --background-start-rgb: 37, 37, 37;
    --background-end-rgb: 116, 68, 120;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'Title';
  src: url('../../public/fonts/Neglige.otf');
}

@layer components {
  .font-title {
    font-family: 'Title', sans-serif;
  }
}
.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #b074cb;
  border-radius: 50%;
  pointer-events: none;
  transform-origin: 50% 50%;
  mix-blend-mode: difference;
  z-index: 9999;
  transition: background-color 0.3s ease, transform 0.3s ease;
}


